# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-OpenId
WTForms
psycopg2
beautifulsoup4
requests

# ----------------------
# Production Server
# ----------------------
gunicorn
